@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import "Variables";

.addChat__container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 70vw;
  height: 400px;
  padding: 100px;
  text-align: center;
  background: linear-gradient(60deg, #011113, #031f22);
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
  border-left: 5px groove rgba(53, 214, 240, 1);
  border-right: 5px groove rgb(239, 242, 243);
  color: rgba(53, 214, 240, 1);
  z-index: 10;
  overflow: scroll;
  @include theme;
  @include themeBg;
}

.addChat__form{
  display: flex;
  flex-direction: column;
  &-bg{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    width: 90%;
    overflow: scroll;
    &-item{
      max-width: 250px;
      max-height: 250px;
      border-radius: 5px;
      margin: 10px;
      position: relative;
      @include theme;
    }
    &-img{
      max-width: 250px;
      max-height: 250px;
      overflow: hidden;
    }
    &-check{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color:inherit;
    }
  }
  
}

.addChat__input{
  border: none;
  background: rgba(0,0,0,.4);
  border-radius: 5px;
  margin: 20px;
  font-size: 30px;
  text-align: center;
  font-family: $font-family;
  @include themeInput;
}

.addChat__userselect{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &-delete{
    font-size: 30px;
    margin: auto 5px;
    color:$red;
    cursor: pointer;
  }
  &-add{
    font-size: 30px;
    margin: auto 5px;
    color:$green;
    cursor: pointer;
  }
}

.addChat__userlist{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  max-height: 250px;
  overflow: scroll;
}
.addChat__select{
  border: none;
  background: transparent;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  @include theme;
}

.addChat__buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.addChat__add, .addChat__cancel {
  @include button;
  color: rgb(75, 240, 53);
  background:rgba(34, 107, 24, 0.5);
  border-left: 2px groove rgb(75, 240, 53);
  border-right: 2px groove rgb(75, 240, 53);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 1), -1px -1px 10px rgba(0, 0, 0, 1);
  transition: all 0.35s;
  overflow: hidden;
  position: relative;
  z-index: 1;
  &::after{
    @include button-after;
    background: linear-gradient( 61deg,rgb(75, 240, 53) 0%,rgb(60, 121, 3) 100%);
    z-index: -1;
  }
  &:hover{
    color: #202124;
    &::after{
      color: black;
      width: 100%;
    }
  }
  
}

.addChat__cancel{
  background: rgba(161, 7, 7, 0.5);
  color:rgba(0, 0, 0, 1);
  border-left: 2px groove rgb(240, 53, 78);
  border-right: 2px groove rgb(240, 53, 78);
  &::after{
    background: linear-gradient(61deg, rgb(240, 53, 78) 0%,rgb(121, 11, 3) 100%);
  }
}
