@import "Variables";
.editChat{
  &__form{
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    z-index: 1;
    transition: all 0.35s;
    overflow: hidden;
    box-shadow: $box-shadow;
    @include theme;
    @include themeBg;
  }
  &__input{
    background: transparent;
    border: none;
    font-size: 24px;
    text-align: center;
    font-family: $font-family;
    color: inherit;
  }
  &__button{
    background: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
  }
}


/* Edit background */
.editChatBg{
  &__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  width: 500px;
  top: 45px;
  right: 0;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  z-index: 1;
  transition: all 0.35s;
  overflow: hidden;
  box-shadow: $box-shadow;
  @include theme;
  @include themeBg;
}
  &__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow: scroll;
  }
  &__item{
    max-width: 250px;
    max-height: 250px;
    border-radius: 5px;
    margin: 10px;
    position: relative;
    @include theme;
  }

  &__img{
    max-width: 250px;
    max-height: 250px;
    overflow: hidden;
  }
  &__check{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:inherit;
  }
  &__button {
    @include button;
    color: rgb(75, 240, 53);
    background:rgba(34, 107, 24, 0.5);
    border-left: $border $green;
    border-right: $border $green;
    box-shadow: $box-shadow;
    &::after{
      @include button-after;
      background: $background-green;
      z-index: -1;
    }
    &:hover{
      color: #202124;
      &::after{
        color: black;
        width: 100%;
      }
    }

  }
}

