@import "Variables";
.footer {
  &__form{
    flex: 1;
    display: flex;
  }
  &__input{
    flex: 1;
    font-family: "Russo One", sans-serif;
    border-radius: 10px;
    padding: 10px;
    border: none;
    background: transparent;
    box-shadow: $box-shadow;
    @include themeInput;
  }
  &__send{
    border: none;
    background: transparent;
    color: inherit;
    margin: auto 10px;
    cursor: pointer;
    &.blue{
      color: $blue;
    }
    &.red{
      color: $red;
    }
    &.green{
      color: $green;
    }
  }
  &__mic{
    width: 26px;
    height: 26px;
    border-radius: 26px;
    margin: auto 10px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    transition: all 0.35s ease-in-out;
    background: transparent;
    overflow: hidden;
    &.blue{
      color:$blue;
      border: $border $blue;
      box-shadow: inset 1px 1px 5px rgba(53, 214, 240, 0.5),
        inset -1px -1px 5px rgba(53, 214, 240, 0.5);
        &:hover{
          background: rgba(53, 214, 240, 0.5);
          transition: all 0.35s ease-in-out;
        }
    }
    &.green{
      color:$green;
      border: $border $green;
      box-shadow: inset 1px 1px 5px rgba(75, 240, 53, 0.5),
        inset -1px -1px 5px rgba(75, 240, 53, .5);
        &:hover{
          background: rgba(75, 240, 53, 0.5);
          transition: all 0.35s ease-in-out;
        }
    }
    &.red{
      color:$red;
      border: $border $red;
      box-shadow: inset 1px 1px 5px rgba(240, 53, 78, 0.5),
        inset -1px -1px 5px rgba(240, 53, 78, 0.5);
        &:hover{
          background: rgba(240, 53, 78, 0.5);
          transition: all 0.35s ease-in-out;
        }
    }
  }
}
