@import "Variables";
.sidebarChat{
  @include button;
  margin: 20px;
  box-shadow: $box-shadow;
  @include theme;
  border-right: 2px groove rgb(239, 242, 243) !important;
  @include themeButton;
  &::after{
    @include button-after;
    opacity: 0.4;
    z-index: -1;
  }
  &:hover {
    color: #202124;
    &::after{
      color: black;
      width: 100%;  
    }
  }
  &.add{
    @include button;
    width: 40px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    box-shadow: $box-shadow;
    @include theme;
    border-right: 2px groove rgb(239, 242, 243) !important;
    @include themeButton;
  }
  &:hover > .sidebarChat__info{
    color:rgba(0, 0, 0, 1);
  }
  &__info{
    margin-left: 15px;
    & > h2{
      font-size: 20px;
      margin-bottom: 8px;
    }
    & > p{
      color: #fff;
    }
  }

}


a {
  text-decoration: none !important;
}


