@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center / cover;
  height: 100vh;
  font-family: "Russo One", sans-serif;
  overflow-x: hidden;
}

.app__body{
  display: flex;
  background: linear-gradient(1deg,rgba(53, 214, 240, 1) 0%,rgb(3, 20, 121) 100%);
  position: relative;
  height: 90vh;
  width: 90vw;
  border-radius: 20px;
}
.app__body.blue {
  background: linear-gradient(1deg, rgba(53, 214, 240, 1) 0%,rgb(3, 20, 121) 100%);
}
.app__body.red {
  background: linear-gradient(1deg, rgb(240, 53, 62) 0%, rgb(92, 2, 2) 100%);
}

.app__body.green {
  background: linear-gradient(1deg, rgb(53, 240, 84) 0%, rgb(2, 92, 10) 100%);
}

@media screen and (max-width: 768px) {
  .app__body {
    height: 100vh;
    width: 100vw;
  }
}